!!! 5
html(lang="en")
  head
  title Messaging App
    link
    script(src='/jquery.min.js')
    script(src='/underscore-min.js')
    script(src='/backbone.min.js')
    script(src='/dnode.backbone.js')
    script(src='/application.js')
  body
    #header
      h1 Messaging App
    #wrapper
      textarea#chatHistory
      form(type="post", action="#", name="newMessage", onsubmit="return false")
        input(name="newMessageString", type="text")
        input(type="submit", value="send")
    #footer
      p powed by coffee
