!!! 5
html(lang="en")
  head
  title "My First Backbone-Dnode App"
    link
    script(src='/jquery.min.js')
    script(src='/underscore-min.js')
    script(src='/backbone.min.js')
    script(src='/dnode.backbone.js')
    script(src='/example.js')
  body
    #header
      
